
.cell {
    
  text-align:center;
  vertical-align: middle;
  font-family: "Helvetica";
  font-size: 30pt;
  width: 50px;
  height: 50px;
  border: none;
  margin: 0px;
  padding: 0px;
}
.r {
  //border-right: 3pt solid;
  //border-color: rgba(72, 53, 36, 1);
}
.b {
  //border-bottom: 3pt solid;
  //border-color: rgba(72, 53, 36, 1);
}

.slowlyAppear {
  -webkit-animation: slowlyAppear 0.5s linear; /* Chrome, Safari, Opera */
  animation: slowlyAppear 0.5s linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

//Pass button
.gopass {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e64040), color-stop(1, #800909));
	background:-moz-linear-gradient(top, #e64040 5%, #800909 100%);
	background:-webkit-linear-gradient(top, #e64040 5%, #800909 100%);
	background:-o-linear-gradient(top, #e64040 5%, #800909 100%);
	background:-ms-linear-gradient(top, #e64040 5%, #800909 100%);
	background:linear-gradient(to bottom, #e64040 5%, #800909 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e64040', endColorstr='#800909',GradientType=0);
	background-color:#e64040;
	border:1px solid #ffa3a3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:0px 2px 0px #852c2c;
}
.gopass {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #800909), color-stop(1, #e64040));
	background:-moz-linear-gradient(top, #800909 5%, #e64040 100%);
	background:-webkit-linear-gradient(top, #800909 5%, #e64040 100%);
	background:-o-linear-gradient(top, #800909 5%, #e64040 100%);
	background:-ms-linear-gradient(top, #800909 5%, #e64040 100%);
	background:linear-gradient(to bottom, #800909 5%, #e64040 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#800909', endColorstr='#e64040',GradientType=0);
	background-color:#800909;
        color:#ffffff;
}
.gopass:active {
	position:relative;
	top:1px;
}

//Circle pieces
//Referred from: http://jsfiddle.net/thirtydot/JJytE/1170/
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.black {
    //width: 100px;
    //height: 100px;
    //background: rgba(53, 53, 53, 1);
    //border: 3px solid black;
    background-image: url('imgs/X.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    margin: 0px;
    padding: 0px;
}
.white {
    //width: 75%;
    //height: 75%;
    //background: rgba(241, 241, 241, 1);
    //border: 3px solid gray;
    background-image: url('imgs/O.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    margin: 0px;
    padding: 0px;
}
.gosize {
    width: 45px;
    height: 45px;
}
.goheader {
    width: 450px;
    height: 50px;
    font-family: "Helvetica";
    font-size: 20px;
    //border: 1px solid black;
}
.gowins {
    background-color: grey;
    color: white;
    width: 165px;
    height: 40px;
    float: left;
    text-align: left;
    padding: 5px;
    font-size: 25px;
    line-height: 40px;
    cursor: default;
}
.blackwins {
    background-color: black;
    color: white;
    text-align: left;
}
.pass {
    background-color: grey;
    color: white;
    width: 100px;
    height: 50px;
    float: left;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 50px;
    font-family: "PT Sans";
    cursor: pointer;
}
.pass0 {
    background-color: green;
    //background-image: url('imgs/pass0.gif');
}
.pass1 {
    background-color: darkred;
    //background-image: url('imgs/pass1.gif');
}
.pass2 {
    background-color: grey;
    //background-image: url('imgs/pass2.gif');
    cursor: default;
}
.whitewins {
    background-color: whitesmoke;
    color: black;
    text-align: right;
}
.dragheader {
    width: 450px;
    margin-left: 170px;
}
.dragbody {
    width: 450px;
    height: 450px;
    background-color: gainsboro;
}

.goimg {
    margin: 0px;
    padding: 0px;
    width: 90%;
    height: 90%;
}

.goframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}

/**** SPECIAL EFFECTS/ANIMATIONS ****/
/**** BLINKING ****/
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
