<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>WEIQI</title>
  
  <meta name="description" content="a simple WEIQI game">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-touch.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="game.css">
  <script src="game.js"></script>
  <script src="gameLogic.js"></script>
  
  <script src="messageService.js"></script>
  <script src="scaleBodyService.js"></script>

  <!-- for local testing purposes ! -->
  <script src="http://yoav-zibin.github.io/emulator/platform.js"></script>

</head>
<body ng-controller="Ctrl">

    <table id="gotable">
        <tr>
            Black: {{captured.white}}
        <button ng-class="{gopass: true}"
                ng-click="passClicked()">
            CLICK TO PASS ({{passes}}/2)
        </button>
        White: {{captured.black}}</tr>
    <tr ng-repeat="row in board track by $index">
        <td ng-repeat="cell in row track by $index"
            ng-class="{cell: true, r: $index < 8, b: $parent.$index < 8,
                        black: cell === 'X', white: cell === 'O'}"
            ng-click="cellClicked($parent.$index, $index)">
            <!-- {{$parent.$index}} {{$index}} 
            {{cell}}
            -->
        </td>
    </tr>
</table>


</body>
</html>
