#gotable {
  border-collapse: collapse;
  background-color: rgba(212, 160, 72, 1);
  background-image: url('img/board.png');
  //background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.cell {
  text-align:center;
  vertical-align: middle;
  font-family: "Helvetica";
  font-size: 30pt;
  width: 50px;
  height: 50px;
  border: none;
  margin: 0px;
  padding: 0px;
}
.r {
  //border-right: 3pt solid;
  //border-color: rgba(72, 53, 36, 1);
}
.b {
  //border-bottom: 3pt solid;
  //border-color: rgba(72, 53, 36, 1);
}

.slowlyAppear {
  -webkit-animation: slowlyAppear 0.5s linear; /* Chrome, Safari, Opera */
  animation: slowlyAppear 0.5s linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

//Pass button
.gopass {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e64040), color-stop(1, #800909));
	background:-moz-linear-gradient(top, #e64040 5%, #800909 100%);
	background:-webkit-linear-gradient(top, #e64040 5%, #800909 100%);
	background:-o-linear-gradient(top, #e64040 5%, #800909 100%);
	background:-ms-linear-gradient(top, #e64040 5%, #800909 100%);
	background:linear-gradient(to bottom, #e64040 5%, #800909 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e64040', endColorstr='#800909',GradientType=0);
	background-color:#e64040;
	border:1px solid #ffa3a3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:0px 2px 0px #852c2c;
}
.gopass {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #800909), color-stop(1, #e64040));
	background:-moz-linear-gradient(top, #800909 5%, #e64040 100%);
	background:-webkit-linear-gradient(top, #800909 5%, #e64040 100%);
	background:-o-linear-gradient(top, #800909 5%, #e64040 100%);
	background:-ms-linear-gradient(top, #800909 5%, #e64040 100%);
	background:linear-gradient(to bottom, #800909 5%, #e64040 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#800909', endColorstr='#e64040',GradientType=0);
	background-color:#800909;
        color:#ffffff;
}
.gopass:active {
	position:relative;
	top:1px;
}

//Circle pieces
//Referred from: http://jsfiddle.net/thirtydot/JJytE/1170/
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.black {
    //width: 100px;
    //height: 100px;
    //background: rgba(53, 53, 53, 1);
    //border: 3px solid black;
    background-image: url('img/X.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    margin: 0px;
    padding: 0px;
}
.white {
    //width: 75%;
    //height: 75%;
    //background: rgba(241, 241, 241, 1);
    //border: 3px solid gray;
    background-image: url('img/O.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 90%;
    margin: 0px;
    padding: 0px;
}
.goimg {
    margin: 0px;
    padding: 0px;
    width: 90%;
    height: 90%;
}